.product{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    margin: 10px;
}
.product img{
    width: 100%;
    border-radius: 7px;
}

.read-more{
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    margin-top: auto;
}
.read-more:hover{
    background-color: #0056b3;
}
