.fixed-header{
    width: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    padding :12px;
    top : 0;
    left: 0;
}
nav{
    width: 25%;
    display : flex;
    justify-content: space-between;
    padding :0 10px
}
nav a{
    text-decoration: none;
    padding :5px;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    text-wrap:nowrap;
    color: #fff;
    border:#fff solid 2px;
    border-radius : 12px
}
nav a:hover{
    transform: scale(1.05);
}
