.fixed-footer {
    box-sizing: border-box;
    width: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    padding: 12px 0;
    bottom: 0;
    left: 0;
    text-align: center;
}